<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324074343432-ue5la832is8ip3qjohlb3tfmeskseaqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324074343432-ue5la832is8ip3qjohlb3tfmeskseaqp</string>
	<key>API_KEY</key>
	<string>AIzaSyAQY5m-bFRp8YRB5aS_uUJ08q9HkpRnPOM</string>
	<key>GCM_SENDER_ID</key>
	<string>324074343432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uncl3dev.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-4caf2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-4caf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324074343432:ios:d37ff138539f68f26fd5bd</string>
</dict>
</plist>